@page "/component1"

<div>
    <h3>Component1</h3>
    <div>
        <button class="btn btn-secondary" @onclick=TestVoid>Test Void</button>
        <button class="btn btn-secondary" @onclick=TestVoidParam>Test Void Param</button>
        <button class="btn btn-secondary" @onclick=TestValue>Test Value</button>
        <button class="btn btn-secondary" @onclick=TestValueParam>Test Value Param</button>
        <button class="btn btn-secondary" @onclick=TestGlobalJsFunction>Test global JS function</button>
        <button class="btn btn-secondary" @onclick=TestBasicJsFunction>Test basic JS function</button>
    </div>
</div>

@code {
    private const string jsPath = $"/{nameof(Components)}/{nameof(Component1)}.razor.js";

    private void CheckModuleIsInitialized()
    {
        if (!JsInteropService.ModuleInitialized(jsPath))
        {
            JsInteropService.InitializeModule(jsPath);
        }
    }

    private async Task TestVoid()
    {
        CheckModuleIsInitialized();
        await JsInteropService.InvokeVoidWithModuleAsync(jsPath, "testVoidFunction");
    }

    private async Task TestVoidParam()
    {
        CheckModuleIsInitialized();
        await JsInteropService.InvokeVoidWithModuleAsync(jsPath, "testVoidFunctionParam", nameof(Component1));
    }

    private async Task TestValue()
    {
        CheckModuleIsInitialized();
        Console.WriteLine(await JsInteropService.InvokeWithModuleAsync<string>(jsPath, "testValueFunction"));
    }

    private async Task TestValueParam()
    {
        CheckModuleIsInitialized();
        Console.WriteLine(await JsInteropService.InvokeWithModuleAsync<string>(jsPath, "testValueFunctionParam", nameof(Component1)));
    }

    private async Task TestGlobalJsFunction()
    {
        await JsInteropService.ConfirmDialog("This is a test of the global JS function ConfirmDialog.");
    }

    private async Task TestBasicJsFunction()
    {
        await JsInteropService.InvokeVoidAsync("alert", "This is a test.");
    }
}
